<form *ngIf="resetPassword" [formGroup]="resetPassword" (ngSubmit)=(setNewPassword(resetPassword.value))
    ngNativeValidate>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h3 class="mb-0">Update Password</h3>
        </div>
        <a (click)="close()"><i class="glyphicon glyphicon-remove text-secondary"></i></a>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" formControlName="password" placeholder="Enter password">
        <small *ngIf="resetPassword.get('password').touched && resetPassword.get('password').required"
            class="text-danger">This field is required
        </small>
    </div>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="accent" type="submit"
            [disabled]='!resetPassword.valid || apiInProcess'>{{apiInProcess ? 'In Progress' : 'Submit'}}
        </button>
    </mat-dialog-actions>
</form>
