<div class="row">
  <div class="smtptable table-responsive">
    <table id="table" class="col-sm-12 table">

      <thead class="mt-2">
        <tr>
          <th>Email ID</th>
          <th>Server</th>
          <th>Port</th>
          <th class="align-center">Priority</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let smtp of smtpList;index as i;let first = first;let last = last">
          <td id="email"> <span
              class="firstLatter text-center">{{smtp.mail_username.charAt(0) | uppercase}}</span>{{smtp.mail_username}}
          </td>
          <td>{{smtp.mail_server}}</td>
          <td>{{smtp.mail_port}}</td>
          <td class="align-center">
            <button class="btn" [disabled]='first' (click)="changePriority(smtp,1,i)"><i class="fa fa-arrow-up text-success changePriority mr-3"></i></button>
            <button class="btn" [disabled]='last' (click)="changePriority(smtp,0,i)"><i class="fa fa-arrow-down text-danger changePriority"></i></button>
          </td>
          <td>
            <button class="cursor" (click)="removeUser(smtp._id)"> <i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
