<form [formGroup]="resetPassword" (ngSubmit)=(forgetPassword(resetPassword.value)) ngNativeValidate>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      <h3 class="mb-0">Reset your password</h3>
    </div>
    <a (click)="close()"><i class="glyphicon glyphicon-remove text-secondary"></i></a>
  </div>
  <mat-dialog-content>
    <mat-form-field class="w-100">
      <input type="text" matInput placeholder="Please enter your Email" cdkFocusInitial
        [class.is-invalid]="email.invalid && email.touched" formControlName="email">
      <mat-error *ngIf="email.touched && email.errors?.required" class="text-danger">This field is required</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="email" mat-raised-button color="accent" type="submit"
      [disabled]='!resetPassword.valid || apiInProgress'>{{apiInProgress ? 'In Progress' : 'Submit'}}
    </button>
  </mat-dialog-actions>
</form>
