<div *ngIf="apiInProcess" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!apiInProcess">
  <div class="clearfix">
    <h2 class="float-left">Update Email</h2>
    <a class="float-right" (click)="close()"><i class="glyphicon glyphicon-remove text-secondary"></i></a>
  </div>
  <div mat-dialog-content class="mt-4">
    <form [formGroup]="updateCampaignForm">
      <div class="row form-group">
        <div class="col-md-2"><label class="control-label">Template 1</label></div>
        <div class="col-md-5">
          <select formControlName="template1" class="form-control" (change)="getTemplatePreview()">
            <option *ngFor="let item of templateList" [ngValue]="item"
              [selected]="(item._id == templateId)? true : null">
              {{ item.message_subject }}</option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-2"><label class="control-label">Template 2</label></div>
        <div class="col-md-5">
          <select formControlName="template2" class="form-control" (change)="getTemplatePreview()">
            <option *ngFor="let item of templateList" [ngValue]="item"
              [selected]="(item._id == templateId)? true : null">
              {{ item.message_subject }}</option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-2"><label class="control-label">Template 3</label></div>
        <div class="col-md-5">
          <select formControlName="template3" class="form-control" (change)="getTemplatePreview()">
            <option *ngFor="let item of templateList" [ngValue]="item"
              [selected]="(item._id == templateId)? true : null">
              {{ item.message_subject }}</option>
          </select>
        </div>
      </div>
      <angular-editor formControlName="message1"
        [ngClass]="{'d-none':this.updateCampaignForm.get('message1').value === null}" [config]="editorConfig">
      </angular-editor><br />
      <angular-editor formControlName="message2"
        [ngClass]="{'d-none':this.updateCampaignForm.get('message2').value === null}" [config]="editorConfig">
      </angular-editor><br />
      <angular-editor formControlName="message3"
        [ngClass]="{'d-none':this.updateCampaignForm.get('message3').value === null}" [config]="editorConfig">
      </angular-editor>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button type="submit" [mat-dialog-close]="updateCampaignForm.value" [disabled]="!updateCampaignForm.valid"
      mat-raised-button color="accent">Update</button>
  </div>
</div>