<div *ngIf="apiInProcess" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!apiInProcess">
  <div class="clearfix">
    <h2 class="float-left">Update Campaign</h2>
    <a class="float-right" (click)="close()"><i class="glyphicon glyphicon-remove text-secondary"></i></a>
  </div>
  <form [formGroup]="updateCampaignForm">
    <div class="row form-group">
      <div class="col-md-2"><label class="control-label">Campaign Name</label></div>
      <div class="col-md-10">
        <input type="text" class="form-control" formControlName="campaignName">
        <div *ngIf="updateCampaignForm.get('campaignName').invalid && updateCampaignForm.get('campaignName').touched">
          <small *ngIf="updateCampaignForm.get('campaignName').errors?.required" class="text-danger">Subject is
            required</small>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-2"><label class="control-label">Campaign Description</label></div>
      <div class="col-md-10">
        <input type="text" class="form-control" formControlName="campaignDescription">
        <div
          *ngIf="updateCampaignForm.get('campaignDescription').invalid && updateCampaignForm.get('campaignDescription').touched">
          <small *ngIf="updateCampaignForm.get('campaignDescription').errors?.required" class="text-danger">Campaign
            Description is
            required</small>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-2"><label class="control-label">Template</label></div>
      <div class="col-md-5">
        <select formControlName="template" class="form-control" (change)="getTemplatePreview()">
          <option *ngFor="let item of templateList" [ngValue]="item" [selected]="item._id == templateId">
            {{ item.subject }}</option>
        </select>
      </div>
    </div>
    <angular-editor formControlName="message" [config]="editorConfig"></angular-editor>
    <div *ngIf="updateCampaignForm.get('message').invalid && updateCampaignForm.get('message').touched">
      <small *ngIf="updateCampaignForm.get('message').errors?.required" class="text-danger">Message body is
        required</small>
    </div>
  </form>
  <div mat-dialog-actions align="end">
    <button type="submit" [mat-dialog-close]="updateCampaignForm.value" [disabled]="!updateCampaignForm.valid"
      mat-raised-button color="accent">Update</button>
  </div>
</div>