<div *ngIf="apiInProcess" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!apiInProcess">
  <div class="clearfix">
    <h2 class="float-left">Update Email</h2>
    <a class="float-right" (click)="close()"><i class="glyphicon glyphicon-remove text-secondary"></i></a>
  </div>
  <div mat-dialog-content class="mt-4">
    <app-popup-message [message]="popUpValue"></app-popup-message>
    <form [formGroup]="updateCampaignForm">
      <div *ngFor="let item of templateOptions; index as i">
        <div class="row form-group">
          <div class="col-md-2"><label class="control-label">Template {{i+1}}</label></div>
          <div class="col-md-5">
            <select formControlName="template{{i+1}}" class="form-control" (change)="getTemplatePreview()">
              <option *ngFor="let item of templateList" [ngValue]="item">{{ item.message_key }}</option>
            </select>
          </div>
        </div>
        <div class="row form-group"
          [ngClass]="{'d-none':this.updateCampaignForm.get(['message' + (i+1)]).value === null}">
          <div class="col-md-2"><label class="control-label">Subject</label></div>
          <div class="col-md-5">
            <input type="text" class="form-control" formControlName="subject{{i+1}}">
          </div>
        </div>
        <angular-editor id="editor{{i+1}}" formControlName="message{{i+1}}"
          [ngClass]="{'d-none':this.updateCampaignForm.get(['message' + (i+1)]).value === null}"
          [config]="editorConfig">
        </angular-editor><br />
      </div>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button type="submit" (click)="sendDataToParent(updateCampaignForm.value)" [disabled]="!updateCampaignForm.valid"
      mat-raised-button color="accent">Update</button>
  </div>
</div>