@import '../../../../global.scss';

.btn-hover {
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  max-width: 36px;
  height: 36px;
  transition: 1s max-width;
  overflow: hidden;
  i {
    margin-right: 15px;
  }
  &:hover {
    border-radius: 50px !important;
    max-width: 250px;
    color: $headerButtonColor;
    background-color: $headerBackground;
  }
}