<div *ngIf="apiInProcess" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!apiInProcess" class="mt-5">
    <h6><b>Name: </b> {{campaignDetails.Campaign_name}}</h6>
    <h6><b>Description: </b>{{campaignDetails.Campaign_description}}</h6>
</div>
<div *ngIf="sendMailInProcess" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!apiInProcess" class="campaignList">
    <app-popup-message [message]="popUpValue"></app-popup-message>
    <table class="table">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Sent On</th>
                <th class="text-center">Seen</th>
                <th class="text-center">Seen On</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userDetail of userDetails;index as i">
                <td>{{ i+1 }}</td>
                <td (click)="openHitDetails(userDetail)" class="cursor-pointer">{{ userDetail.name }}</td>
                <td (click)="openHitDetails(userDetail)" class="cursor-pointer"> {{ userDetail.email }}</td>
                <td *ngIf="userDetail.send_status != true">{{ userDetail.send_status }}</td>
                <td *ngIf="userDetail.send_status == true">{{ userDetail.sended_date | date:'short'}}</td>
                <td class="text-center"><i *ngIf="userDetail.seen" class="fa fa-check"></i> <i *ngIf="!userDetail.seen" class="fa fa-times"
                        aria-hidden="true"></i></td>
                <td *ngIf="userDetail.seen" class="text-center">{{ userDetail.hit_details && userDetail.hit_details.seen_date | date:'short' }}</td>
                <td *ngIf="!userDetail.seen" class="text-center">{{ userDetail.hit_details.seen_date }}</td>
            </tr>
        </tbody>
    </table>
</div>