$unreadEmails: #ECECEC;
$missed: #c0392b;
$success: #398439;
$error: #d58512;
$again: #269abc;
$background: #fff;
$border: #ccc;
$widgetPanel: #F9FBFD;
$widgetNav:#F9FBFD;
$blueViolet: blueviolet;
$errorSnackbar:#c0392b;
$successSnackbar: #398439;
$scrollbarBG: #fff;
$scrollbarBoxShadow: rgba(0, 0, 0, 0.3);
$scrollbarThumbBG: #555;
$red: red;
$grey: grey;
$aqua: aqua;
$green: green;
$spamEdit: #5bc0de;
$verticalLine:#ECECEC;
$secondary: #ECECEC;
$primary: #547FFF;
$danger: #F55D5D;
$kanban-card-background: #e4e8eb;
$kanban-background: #ECECEC;
$box-shadow:0 5px 5px -3px rgba(0, 0, 0, 0.2),
0 8px 10px 1px rgba(0, 0, 0, 0.14),
0 3px 14px 2px rgba(0, 0, 0, 0.12);
$mailBackground: #fff;
$alert: #e6d8f9;
$alertText: #9964e3;
$headingColor: #778892;
$warningAlert: #fff0d1;
$warningText: #ffb732;
$kanbanBackgroundPrimary: #bbcbfe;
$kanbanBackgroundWarning: #fff0d1;
$kanbanBackgroundInfo: #d1c3e4;
$kanbanBackgroundSuccess: #ceefe4;
$kanbanBackgroundSecondary: #e3e6eb;
$kanbanBackgroundDanger: #fcd5d6;
$firstRoundProgress: #9964e3;
$secondRoundProgress: #c29cf7;
$thirdRoundProgress: #e5d8f8;
$notesBackground: #fff0d1;
$max-width: 768px;
$orange : #FFA500;
$lightgray: lightgray;
$note : #FFF0D1;
$interviewee : #d3e2ff;
$mail : #d4dfff;
$cv : rgba(231, 225, 239, 1);
$xs_max_width : 480px;
$tableBackground : #e6d8f9;
$tableColor: #aa82e5;
$kanbanBackground: #ceefe4;
$kanbanColor: #3bbe94;
$statColor: #567eff;
$statBackground: #cbd7fd;
$starBackground: #fff0d1;
$starColor: #ffc446;
$searchBackground : #e3e6eb;
$searchColor: #78868f;
$lg_width: 1200px;
$sidenav-active-bg: #e9edf0;
$sidenav-active-border: #547fff;
$bottom-sidenav-active: #ffc247;