<div *ngIf="loginForm" class="container-fluid">
    <div class="row">
        <div class="col-sm-6 column-1">
            <div class="left">
                <div class="recruit-logo">
                    <img src="assets/img/company-logo.png" alt="Excellece Technologies">
                </div>
                <form [formGroup]="loginForm" (ngSubmit)='onLogin(loginForm.value)' ngNativeValidate>
                    <p>Welcome to</p>
                    <h5>Recruitment Management System (RMS) </h5>
                    <input type="email" [class.is-invalid]='email.invalid && email.touched' placeholder="Email"
                        formControlName="email">
                    <div *ngIf="email.invalid && email.touched">
                        <small *ngIf="email.errors?.required" class="text-danger">Email is required</small>
                    </div>
                    <input type="password" [class.is-invalid]='password.invalid && password.touched'
                        placeholder="Password" formControlName="password">
                    <div *ngIf="password.invalid && password.touched">
                        <small *ngIf="password.errors?.required" class="text-danger">Password is required</small>
                    </div>
                    <div class="forget">
                        <label class="lab">
                            <input type="checkbox" class="check-custom radio" formControlName="remember_me" hidden>
                            <span class="check-toggle"></span> Remember me
                        </label>
                        <span class="recruit-forget" (click)="forgetPassword()">Forget password?</span>
                    </div>
                    <button class='btn' type="submit" [disabled]="!loginForm.valid || apiInProgress"><span
                            *ngIf="!apiInProgress">Login</span><span *ngIf="apiInProgress">Logging In...</span></button>
                    <small *ngIf="loginError" class="alert alert-danger">Invalid Details</small>
                </form>
                <div class="errorMsg">
                    <app-popup-message [message]="popUpValue"></app-popup-message>
                </div>
            </div>
        </div>
        <div class="col-sm-6 column-2">
            <div class="right">
                <h4>About Excellence RMS</h4>
                <p class="para"> Add jobs, review applications, schedule interview and hire, all at one place -
                    Excellence RMS. More then Application tracking system.
                    A Recruitment Management System (RMS) is a set of tools designed to automate and manage your
                    organization's recruiting and staffing operations.
                    From adding your jobs to keeping application connected and engaged throughout, Excellence RMS lets
                    you manage your entire recruiting process.
                </p>
                <h4 class="features">Features</h4>
                <ul>
                    <li><i class="fa fa-circle text-grey"></i>Extensive integration: Recruit Straight from portal or
                        inbox </li>
                    <li><i class="fa fa-circle text-grey"></i>Automated Workflow: Post jobs, View Resumes, Send
                        Notification & more </li>
                    <li><i class="fa fa-circle text-grey"></i>Application Tracking: Search, Screen & Select Candidate
                        easily</li>
                    <li><i class="fa fa-circle text-grey"></i>Database Management: organize all candidates data & files
                        securely</li>
                    <li><i class="fa fa-circle text-grey"></i>Smart Automation: Define automation rules for every job
                    </li>
                    <li><i class="fa fa-circle text-grey"></i>Interview Scheduler</li>
                    <li><i class="fa fa-circle text-grey"></i>Integrated E-mail conversations</li>
                </ul>
            </div>
        </div>
    </div>
</div>